@model ProfileEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row mb-2 mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light text-dark">Edit Profile</h5>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data" method="post" class="form-horizontal" role="form">
                    <input asp-for="EmployeeId" type="hidden" />
                    <input asp-for="EmployeeAddressId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="EmployeeImage">Profile Image</label>
                        <input type="file" name="EmployeeImage" multiple id="fileUpload" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="GlobalId">Global ID</label>
                        <input asp-for="GlobalId" type="text" class="form-control">
                        <span asp-validation-for="GlobalId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CardId">Card ID</label>
                        <input asp-for="CardId" type="text" class="form-control">
                        <span asp-validation-for="CardId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeType">Employee Type</label>
                        <input asp-for="EmployeeType" type="text" class="form-control">
                        <span asp-validation-for="EmployeeType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName">First Name (Eng)</label>
                        <input asp-for="FirstName" type="text" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Last Name (Eng)</label>
                        <input asp-for="LastName" type="text" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstNameThai">First Name (Thai)</label>
                        <input asp-for="FirstNameThai" type="text" class="form-control">
                        <span asp-validation-for="FirstNameThai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastNameThai">Last Name (Thai)</label>
                        <input asp-for="LastNameThai" type="text" class="form-control">
                        <span asp-validation-for="LastNameThai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender">Gender</label>
                        <input asp-for="Gender" type="text" class="form-control">
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate">Birth Date</label>
                        <input asp-for="BirthDate" type="date" class="form-control">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HireDate">Hire Date</label>
                        <input asp-for="HireDate" type="date" class="form-control">
                        <span asp-validation-for="HireDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HomeAddress">Home Address</label>
                        <input asp-for="HomeAddress" type="text" class="form-control">
                        <span asp-validation-for="HomeAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City">City</label>
                        <input asp-for="City" type="text" class="form-control">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country">Country</label>
                        <input asp-for="Country" type="text" class="form-control">
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode">Postal Code</label>
                        <input asp-for="PostalCode" type="text" class="form-control">
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" type="text" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress">Email Address</label>
                        <input asp-for="EmailAddress" type="text" class="form-control">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DepartmentId">Department</label>
                        <select asp-for="DepartmentId" asp-items="@Model.Departments" class="form-control"></select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SectionId">Section</label>
                        <select asp-for="SectionId" asp-items="@Model.Sections" class="form-control"></select>
                        <span asp-validation-for="SectionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShiftId">Work Shift</label>
                        <select asp-for="ShiftId" asp-items="@Model.Shifts" class="form-control"></select>
                        <span asp-validation-for="ShiftId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JobPositionId">Job Title</label>
                        <select asp-for="JobPositionId" asp-items="@Model.JobTitles" class="form-control"></select>
                        <span asp-validation-for="JobPositionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JobFunctionId">Job Function</label>
                        <select asp-for="JobFunctionId" asp-items="@Model.JobFunctions" class="form-control"></select>
                        <span asp-validation-for="JobFunctionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LevelId">Level</label>
                        <select asp-for="LevelId" asp-items="@Model.JobLevels" class="form-control"></select>
                        <span asp-validation-for="LevelId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BusStationId">Bus Station</label>
                        <select asp-for="BusStationId" asp-items="@Model.BusStations" class="form-control"></select>
                        <span asp-validation-for="BusStationId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JoinDate">Join Date</label>
                        <input asp-for="JoinDate" type="date" class="form-control" value="2018-01-01" required>
                        <span asp-validation-for="JoinDate" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>