@model SectionViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Section Configuration</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-sm btn-outline-secondary" asp-action="Create">Create</a>
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        @if (Model.Sections.Any())
        {
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Section Name</th>
                        <th>Section Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Sections)
                    {

                        <tr>
                            <td>@item.SectionId</td>
                            <td>@item.SectionName</td>
                            <td>@item.SectionCode</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SectionId" class="btn btn-info btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.SectionId" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>
</div>

