@model EmployeeViewModel

@{
    ViewData["Title"] = "EmployeeList";
}

<!-- content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h1 class="h2">Employee List</h1>
</div>

<form asp-controller="Employee" asp-action="EmployeeList" method="post">
    <div class="form-row">
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="FilterModel.DepartmentId" class="input-group-text w-100">Department</label>
                </div>
                <select asp-for="FilterModel.DepartmentId" asp-items="@Model.Departments" id="departmentSelectList" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="FilterModel.SectionId" class="input-group-text w-100">Section</label>
                </div>
                <select class="form-control" id="sectionSelectList" asp-for="FilterModel.SectionId"
                        asp-items="@(new SelectList(string.Empty, " Value","Text"))"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="FilterModel.PositionId" class="input-group-text w-100">Position</label>
                </div>
                <select asp-for="FilterModel.PositionId" asp-items="@Model.Positions" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="FilterModel.FunctionId" class="input-group-text w-100">Job Function</label>
                </div>
                <select class="form-control" id="jobFunctionSelectList" asp-for="FilterModel.FunctionId"
                        asp-items="@(new SelectList(string.Empty, " Value","Text"))"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="FilterModel.ShiftId" class="input-group-text w-100">Shift</label>
                </div>
                <select asp-for="FilterModel.ShiftId" asp-items="@Model.Shifts" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="FilterModel.LevelId" class="input-group-text w-100">Level</label>
                </div>
                <select asp-for="FilterModel.LevelId" asp-items="@Model.JobLevels" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="input-group">
                <input asp-for="FilterModel.EmployeeId" type="text" class="form-control" placeholder="Employee ID">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit"><i class="fa fa-search mr-2"></i>Search</button>
                </div>
            </div>
        </div>
    </div>

</form>

@if (Model.Employees.Any())
{
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Employee ID</th>
                        <th>Global ID</th>
                        <th>Name (English)</th>
                        <th>Name (Thai)</th>
                        <th>Hire Date</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model.Employees)
                    {

                        <tr>
                            <td>@e.EmployeeType</td>
                            <td>@e.EmployeeId</td>
                            <td>@e.GlobalId</td>
                            <td>@e.Title. @e.FirstName @e.LastName</td>
                            <td>@e.FirstNameThai @e.LastNameThai</td>
                            <td>@e.HireDate.Date.ToString("yyyy-MM-dd")</td>
                            <td class="text-center">
                                <a asp-controller="Profile" asp-action="Index" asp-route-employeeId="@e.EmployeeId" class="btn btn-success btn-sm">View</a>
                                <a asp-controller="Profile" asp-action="EditProfile" asp-route-employeeId="@e.EmployeeId" class="btn btn-success btn-sm">Edit</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
            $(document).ready(function () {
                $('#departmentSelectList').change(function () {
                    var url = '@Url.Content("~/")' + "Attendance/GetSectionByDepartmentId";
                    $.getJSON(url, { departmentId: $("#departmentSelectList").val() }, function (data) {
                        var items = '';
                        $("#sectionSelectList").empty();
                        $.each(data, function (i, section) {
                            items += "<option value='" + section.value + "'>" + section.text + "</option>";
                        });
                        $('#sectionSelectList').html(items);
                    });
                });

                $('#sectionSelectList').change(function () {
                    var url = '@Url.Content("~/")' + "Attendance/GetJobFunctionBySectionId";
                    $.getJSON(url, { sectionId: $("#sectionSelectList").val() }, function (data) {
                        var items = '';
                        $("#jobFunctionSelectList").empty();
                        $.each(data, function (i, jobFunction) {
                            items += "<option value='" + jobFunction.value + "'>" + jobFunction.text + "</option>";
                        });
                        $('#jobFunctionSelectList').html(items);
                    });
                });
            });
    </script>
}