@model EmployeeViewModel

@{
    ViewData["Title"] = "EmployeeList";
}

<!-- content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h1 class="h2">Employee List</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<form asp-controller="Employee" asp-action="EmployeeList" method="get">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">Employee ID</label>
        </div>
        <input type="text" name="employeeId" class="form-control" placeholder="Please enter employee ID">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search mr-2"></i>Search</button>
        </div>
    </div>
</form>

@if (Model.Employees.Any())
{
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Type</th>
                        <th>Employee ID</th>
                        <th>Global ID</th>
                        <th>Name (English)</th>
                        <th>Name (Thai)</th>
                        <th>Hire Date</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model.Employees)
                    {

                        <tr>
                            <td>@e.EmployeeType</td>
                            <td>@e.EmployeeId</td>
                            <td>@e.GlobalId</td>
                            <td>@e.Title. @e.FirstName @e.LastName</td>
                            <td>@e.FirstNameThai @e.LastNameThai</td>
                            <td>@e.HireDate.Date.ToString("yyyy-MM-dd")</td>
                            <td class="text-center">
                                <a asp-action="Profile" asp-route-employeeId="@e.EmployeeId" class="btn btn-success btn-sm">View</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}

