@model SkillViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Skill Configuration</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" asp-action="Create">Create</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @if (Model.Skills.Any())
            {
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Skill Group</th>
                            <th>Skill Type</th>
                            <th>Skill Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Skills)
                        {

                            <tr>
                                <td>@item.SkillId</td>
                                <td>@item.SkillGroupId</td>
                                <td>@item.SkillTypeId</td>
                                <td>@item.SkillName</td>
                                <td>@item.SkillDescription</td>
                                <td>
                                    <a asp-controller="Skill" asp-action="Edit" asp-route-id="@item.SkillId" class="btn btn-info btn-sm">Edit</a>
                                    <a asp-controller="Skill" asp-action="Delete" asp-route-id="@item.SkillId" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>


