@model AttendanceViewModel

@{
    ViewData["Title"] = "Active Work";
}

<!-- content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h2>Attendance <span class="badge badge-success">Active Work</span></h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<form asp-controller="Attendance" asp-action="ActiveWork" method="get">
    <div class="form-row">
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="AttendanceDate" class="input-group-text w-100">Date</label>
                </div>
                <input asp-for="AttendanceDate" type="date" class="form-control">
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="ShiftId" class="input-group-text w-100">Shift</label>
                </div>
                <select asp-for="ShiftId" asp-items="@Model.FilterModel.Shifts" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="PositionId" class="input-group-text w-100">Position</label>
                </div>
                <select asp-for="PositionId" asp-items="@Model.FilterModel.Positions" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="FunctionId" class="input-group-text w-100">Job Function</label>
                </div>
                <select asp-for="FunctionId" asp-items="@Model.FilterModel.JobFunctions" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="DepartmentId" class="input-group-text w-100">Department</label>
                </div>
                <select asp-for="DepartmentId" asp-items="@Model.FilterModel.Departments" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="SectionId" class="input-group-text w-100">Section</label>
                </div>
                <select asp-for="SectionId" asp-items="@Model.FilterModel.Sections" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="input-group">
                <input asp-for="EmployeeId" type="text" name="employeeId" class="form-control" placeholder="Employee ID">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit"><i class="fa fa-search mr-2"></i>Search</button>
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.Attendances.Any())
{
    <div class="card mb-3">
        <h5 class="card-header bg-white text-success">Active List</h5>
        <div class="card-body scroll-box p-0">

            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm w-100 mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Type</th>
                            <th>Employee ID</th>
                            <th>Name (English)</th>
                            <th>Name (Thai)</th>
                            <th>Level</th>
                            <th>Shift</th>
                            <th>Department</th>
                            <th>Section</th>
                            <th>Job Title</th>
                            <th>Job Function</th>
                            <th>Bus Station</th>
                            <th>Scan In Time</th>
                            <th>Scan Out Time</th>
                            <th>History</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var e in Model.Attendances)
                        {
                            <tr>
                                <td>@e.EmployeeType</td>
                                <td>@e.EmployeeId</td>
                                <td>@e.Title. @e.FirstName @e.LastName</td>
                                <td>@e.FirstNameThai @e.LastNameThai</td>
                                <td>@e.LevelCode</td>
                                <td>@e.ShiftName</td>
                                <td>@e.DepartmentCode</td>
                                <td>@e.SectionCode</td>
                                <td>@e.JobTitle</td>
                                <td>@e.FunctionName</td>
                                <td>@e.BusStationName</td>
                                <td>@e.ScanInTime</td>
                                <td>@e.ScanOutTime</td>
                                <td>
                                    <a class="badge badge-success" asp-action="History" asp-route-employeeId="@e.EmployeeId">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
        <div class="card-footer bg-white text-dark">
            <p class="mb-0">Total Active Work : @Model.Attendances.Count() Person.</p>
        </div>

    </div>


}