@model LevelViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- content -->
<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Level Configuration</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" asp-action="Create">Create</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @if (Model.EmployeeLevels.Any())
            {
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Level ID</th>
                        <th>Level Name</th>
                        <th>Level Code</th>
                        <th>Action</th>
                    </tr>
                    @foreach (var item in Model.EmployeeLevels)
                    {

                        <tr>
                            <td>@item.LevelId</td>
                            <td>@item.LevelName</td>
                            <td>@item.LevelCode</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.LevelId" class="btn btn-info btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.LevelId" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>

                    }
                </table>
            }
        </div>
    </div>
</div>

