@model DashboardViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- header -->
<section>
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-md-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-md-6">
                <form asp-action="Index" method="post">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend w-25">
                                    <span class="input-group-text w-100">Date</span>
                                </div>
                                <input asp-for="SelectedDate" type="text" id="datepicker" autocomplete="off" class="form-control">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend w-25">
                                    <span class="input-group-text w-100">Shift</span>
                                </div>
                                <select asp-for="ShiftId" asp-items="@Model.Shifts" class="form-control"></select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- card -->
<section>
    <div class="container-fluid">
        <div class="row pt-md-3">
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card card-common">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-user-circle fa-3x text-header"></i>
                            <div class="text-right text-header">
                                <h1>@Model.CountTotalEmployee</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-white bg-nav">
                        <i class="fa fa-refresh fa-spin mr-3"></i>
                        <span>Total Employee</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card card-common">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-user fa-3x text-success"></i>
                            <div class="text-right text-header">
                                <h1>@Model.CountActiveWork</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-white bg-nav">
                        <i class="fa fa-refresh fa-spin mr-3"></i>
                        <span>Employee Active Work</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card card-common">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-user-times fa-3x text-danger"></i>
                            <div class="text-right text-header">
                                <h1>@Model.CountAbsent</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-white bg-nav">
                        <i class="fa fa-refresh fa-spin mr-3"></i>
                        <span>Employee Absent</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card card-common">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-calendar fa-3x text-header"></i>
                            <div class="text-right text-header">
                                <h1>@Model.CurrentShift</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-white bg-nav">
                        <i class="fa fa-refresh fa-spin mr-3"></i>
                        <span>Current Shift</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- attendance status day shift-->
<section>
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-white text-header">
                        <h5 class="my-0">Attendance Status (Day Shift)</h5>
                        <p class="my-0">Summary attendance result all department and section</p>
                    </div>
                    <div class="card-body scroll-box-dashboard p-0">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-sm w-100 mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Department</th>
                                        <th>Section</th>
                                        <th>Shift</th>
                                        <th class="w-25">Active %</th>
                                        <th>Total</th>
                                        <th>Active</th>
                                        <th>Absent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.AttendanceStatusDay.Any())
                                    {
                                        @foreach (var e in Model.AttendanceStatusDay)
                                        {
                                            <tr>
                                                <td>@e.Department</td>
                                                <td>@e.Section</td>
                                                <td>@e.ShiftName</td>
                                                <td>
                                                    <div class="progress">
                                                        @if (e.ActivePercent < 100)
                                                        {
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:@(e.ActivePercent + "%");" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">@e.ActivePercent%</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:@(e.ActivePercent+"%");" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">@e.ActivePercent%</div>
                                                        }
                                                    </div>
                                                </td>
                                                <td>@e.TotalPerson</td>
                                                <td>@e.ActivePerson</td>
                                                <td>@e.AbsentPerson</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- attendance status current shift-->
<section>
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-white text-header">
                        <h5 class="my-0">Attendance Status (Current Shift)</h5>
                        <p class="my-0">Summary attendance result all department and section</p>
                    </div>
                    <div class="card-body scroll-box-dashboard p-0">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-sm w-100 mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Department</th>
                                        <th>Section</th>
                                        <th>Shift</th>
                                        <th class="w-25">Active %</th>
                                        <th>Total</th>
                                        <th>Active</th>
                                        <th>Absent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.AttendanceStatusCurrent.Any())
                                    {
                                        @foreach (var e in Model.AttendanceStatusCurrent)
                                        {
                                            <tr>
                                                <td>@e.Department</td>
                                                <td>@e.Section</td>
                                                <td>@e.ShiftName</td>
                                                <td>
                                                    <div class="progress">
                                                        @if (e.ActivePercent < 100)
                                                        {
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:@(e.ActivePercent + "%");" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">@e.ActivePercent%</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:@(e.ActivePercent+"%");" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">@e.ActivePercent%</div>
                                                        }
                                                    </div>
                                                </td>
                                                <td>@e.TotalPerson</td>
                                                <td>@e.ActivePerson</td>
                                                <td>@e.AbsentPerson</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- chart summary by job function -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header bg-white text-header">
                        <h5 class="my-0">Attendance By Job Function</h5>
                        <p class="my-0">Summary attendance active by job function</p>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="attendanceByJobChart" style="width:100%; height:250px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- chart bar adn pie-->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header bg-white text-header">
                        <h5 class="my-0">Attendance By Level</h5>
                        <p class="my-0">Summary attendance active by level</p>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="attendanceLevelChart" style="width:100%; height:250px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header bg-white text-header">
                        <h5 class="my-0">Average Percent</h5>
                        <p class="my-0">Average attendance active and absent</p>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="attendancePercentChart" style="width:100%; height:250px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- chart pie -->
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header bg-white text-header">
                <h5 class="my-0">Attendance By Department</h5>
                <p class="my-0">Summary attendance active by department</p>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="departmentChart" style="width:100%; height:250px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-white text-header">
                <h5 class="my-0">Attendance By Section</h5>
                <p class="my-0">Summary employee active work</p>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="sectionChart" style="width:100%; height:250px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-white text-header">
                <h5 class="my-0">Attendance By Shift</h5>
                <p class="my-0">Summary employee by shift</p>
            </div>
            <div class="card-body">
                <div style="height:250px">
                    <div class="table-responsive">
                        <table class="table table-hover w-100">
                            <thead class="thead-light">
                                <tr>
                                    <th>Shift Name</th>
                                    <th>Employee</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AttendanceByShift)
                                {
                                    <tr>
                                        <td>@item.ShiftName</td>
                                        <td>@item.TotalEmployee</td>
                                        <td>@item.ActiveEmployee</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- chart bar -->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header bg-white text-header">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="my-0">Transportation</h5>
                        <p class="my-0">Summary transportation by routes</p>
                    </div>
                    <div class="col-md-4">
                        <a asp-controller="Dashboard" asp-action="DownloadTransport" class="btn btn-sm btn-secondary float-right">Download</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="transportChart" style="width:100%; height:250px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- employee absent -->
<div class="card mb-4">
    <div class="card-header bg-white text-header">
        <div class="row">
            <div class="col-md-8">
                <h5 class="my-0">Employee Leave</h5>
                <p class="my-0">Summary employee active work</p>
            </div>
            <div class="col-md-4">
                <a asp-controller="Dashboard" asp-action="Download" class="btn btn-sm btn-secondary float-right">Download</a>
            </div>
        </div>
    </div>
    <div class="card-body scroll-box-dashboard p-0">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-sm w-100 mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>Type</th>
                        <th>Employee ID</th>
                        <th>Name (English)</th>
                        <th>Name (Thai)</th>
                        <th>Level</th>
                        <th>Shift</th>
                        <th>Department</th>
                        <th>Section</th>
                        <th>Position</th>
                        <th>Job Function</th>
                        <th>Route</th>
                        <th>Bus Station</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Attendances.Any())
                    {
                        @foreach (var e in Model.Attendances)
                        {
                            <tr>
                                <td>@e.EmployeeType</td>
                                <td>@e.EmployeeId</td>
                                <td>@e.Title. @e.FirstName @e.LastName</td>
                                <td>@e.TitleThai @e.FirstNameThai @e.LastNameThai</td>
                                <td>@e.LevelCode</td>
                                <td>@e.ShiftName</td>
                                <td>@e.DepartmentCode</td>
                                <td>@e.SectionName</td>
                                <td>@e.JobTitle</td>
                                <td>@e.FunctionName</td>
                                <td>@e.RouteName</td>
                                <td>@e.BusStationName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer bg-white text-dark">
        <p class="mb-0">Total Absent : @Model.Attendances.Count() Person.</p>
    </div>
</div>


@section scripts {

    <script>
        var ctx = document.getElementById("attendanceByJobChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @Html.Raw(Model.AttendanceByJobLabel),
                datasets: [
                    {
                        label: 'Active',
                        data: @Html.Raw(Model.AttendanceByJobActive),
                        backgroundColor: "#234359",
                        borderWidth: 1
                    },
                    {
                        label: 'Absnet',
                        data: @Html.Raw(Model.AttendanceByJobAbsent),
                        backgroundColor: "#f44168",
                        borderWidth: 1
                    }
                ]
            },
            options: {
                legend: {
                    display: false
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 30,
                        bottom: 0
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontSize: 8
                        },
                        stacked: true
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            fontSize: 8
                        },
                        stacked: true
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById("attendanceLevelChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @Html.Raw(Model.AttendanceLevelLabel),
                datasets: [{
                    label: 'Attendance By Level',
                    data: @Html.Raw(Model.AttendanceLevelValue),
                    backgroundColor: "#234359",
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 30,
                        bottom: 0
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontSize: 8
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            fontSize: 8
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById("transportChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @Html.Raw(Model.TransportChartLabel),
                datasets: [{
                    label: 'Daily Transportation',
                    data: @Html.Raw(Model.TransportChartValue),
                    backgroundColor: "#234359",
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 30,
                        bottom: 0
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontSize: 8
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            fontSize: 8
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById("attendancePercentChart");
        var myChart = new Chart(ctx, {
            type: 'pie',

            data: {
                labels: ["Active", "Absent"],
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#234359", "#f44168"],
                    data: @Html.Raw(Model.AttendancePercentValue)
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Attendance by department'
                }
            }
        });
    </script>

    <script>
        new Chart(document.getElementById("departmentChart"), {
            type: 'pie',
            data: {
                labels: @Html.Raw(Model.DepartmentChartLabel),
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#234359", "#54dcff", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: @Html.Raw(Model.DepartmentChartValue)
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Attendance by department'
                }
            }
        });
    </script>

    <script>
        new Chart(document.getElementById("sectionChart"), {
            type: 'doughnut',
            data: {
                labels: @Html.Raw(Model.SectiobChartLabel),
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#234359", "#54dcff", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: @Html.Raw(Model.SectiobChartValue)
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Attendance by section'
                }
            }
        });
    </script>

    <script>
        $('#datepicker').datepicker({
            format: 'yyyy/mm/dd',
            autoclose: true,
        });
    </script>

}

